##########################################
# SPRING
##########################################
#seteable profiles
SPRING_PROFILES_ACTIVE=dev

#Server port
SERVER_PORT=8080


##########################################
# DATABASE
##########################################
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vdb

DB_USERNAME=admin
DB_PASSWORD=password

##########################################
# JWT
##########################################
JWT_SECRET=secret
JWT_EXPIRATION=expiration
JWT_REFRESH_WINDOW=refreshwindow

##########################################
# CORS PORT
##########################################
URL_ALLOWED=http://localhost:8000
