##########################################
# SPRING
##########################################
#seteable profiles
SPRING_PROFILES_ACTIVE=dev

#Server port
SERVER_PORT=8080


##########################################
# DATABASE
##########################################
DB_HOST=localhost
DB_PORT=5432
DB_NAME=veterinarydb

DB_USERNAME=adminvet
DB_PASSWORD=admin1234

##########################################
# JWT
##########################################
JWT_SECRET=secret
JWT_EXPIRATION=300000
JWT_REFRESH_WINDOW=172800000

##########################################
# CORS PORT
##########################################
URL_ALLOWED=http://localhost:3000

##########################################
# RESERVED ROLE
##########################################
RESERVED_ROLE1=ADMIN