##########################################
# SPRING
##########################################
#seteable profiles
SPRING_PROFILES_ACTIVE=prod

##########################################
# JWT
##########################################
SECRET=272357538782F413F442
JWT_EXPIRATION=90000
JWT_REFRESH_WINDOW=600000

##########################################
# DATABASE
##########################################
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db

DB_USERNAME=userdb
DB_PASSWORD=password
